


.login-container {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 20rem;
  z-index: 1;
  background-color: black; 
  
}

.card-body {
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 2rem;
}
.btn {
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Ajoute une transition douce */
}

.btn:hover {
  background-color: #0056b3; 
  border-color: #0056b3;
  cursor: pointer;
}
